apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16
          ports:
            - name: http
              containerPort: 8989
              protocol: TCP
          volumeMounts:
            - name: tv-volume
              mountPath: /tv
            - name: downloads-volume
              mountPath: /downloads
            - name: config-volume
              mountPath: /config
          env:
            - name: PUID
              value: "0"
            - name: GUID
              value: "0"
            - name: TZ
              value: ${TIMEZONE}
      volumes:
        - name: tv-volume
          persistentVolumeClaim:
            claimName: sonarr-tv-unas
        - name: downloads-volume
          persistentVolumeClaim:
            claimName: transmission-tv-data-unas
        - name: config-volume
          persistentVolumeClaim:
            claimName: sonarr-config-ceph # TODO: move to UNAS
