---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - pvc.yaml
  - httproute.yaml
  - secret.yaml
  - pg.yaml
  - redis.yaml
helmCharts:
  - name: immich
    repo: https://immich-app.github.io/immich-charts
    version: 0.9.0
    namespace: immich
    releaseName: immich
    includeCRDs: true
    valuesFile: values.yaml
patches:
  - target:
      version: v1
      kind: Deployment
      name: immich-server
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: immich-server
        namespace: immich
      spec:
        template:
          spec:
            volumes:
              - name: nfs-truenas
                nfs:
                  path: /mnt/vault
                  server: truenas.local
            containers:
              - name: immich-server
                volumeMounts:
                  - name: nfs-truenas
                    mountPath: /mnt/vault
                resources:
                  requests:
                    memory: "6Gi"
                    cpu: "6"
                  limits:
                    memory: "12Gi"
                    cpu: "12"
  - target:
      version: v1
      kind: Deployment
      name: immich-machine-learning
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: immich-machine-learning
        namespace: immich
      spec:
        template:
          spec:
            containers:
              - name: immich-machine-learning
                resources:
                  requests:
                    memory: "2Gi"
                    cpu: "2000m"
                  limits:
                    memory: "4Gi"
                    cpu: "4000m"
  - target:
      kind: StatefulSet
      name: immich-redis-master
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: immich-redis-master
      template:
          spec:
            containers:
              - name: redis
                resources:
                  limits:
                    cpu: 2000m
                    ephemeral-storage: 3Gi
                    memory: 2Gi
                  requests:
                    cpu: 1000m
                    ephemeral-storage: 100Mi
                    memory: 1Gi
