---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 75.9.0 # Use a recent stable version
      sourceRef:
        kind: HelmRepository
        name: prometheus-community # Use prometheus-community repo (OCI or web based on previous steps)
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  # valuesFrom:
  #   - kind: ConfigMap
  #     name: flux-kube-state-metrics-config
  #     valuesKey: kube-state-metrics-config.yaml
  values:
    grafana:
      enabled: false
    prometheusOperator:
      admissionWebhooks:
        enabled: false
    prometheus:
      prometheusSpec:
        serviceMonitorSelector: {}
        externalUrl: https://prometheus.rajsingh.info
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        enableRemoteWriteReceiver: true
        enableFeatures:
          - exemplar-storage
        retention: 30d
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 100Gi
      server:
        additionalScrapeConfigs:
          - job_name: opencost
            honor_labels: true
            scrape_interval: 1m
            scrape_timeout: 10s
            metrics_path: /metrics
            scheme: http
            dns_sd_configs:
              - names:
                  - opencost.opencost
                type: "A"
                port: 9003
        retention: 30d

    alertmanager:
      enabled: true

    kubeProxy:
      enabled: false

    kubeControllerManager:
      enabled: true

    kubeScheduler:
      enabled: true

    kubeEtcd:
      enabled: false

