.DS_Store
.terraform*
terraform.tfstate*
terraform.tfvars
tf/**/alpo-*.yaml
tf/**/kubeconfig_*
tfplan
charts
**/talos/*.yaml
**/talos/*.iso
**/talos/talosconfig
**/talos/aurora
**/talos/.DS_Store

next

# SOPS private keys - NEVER commit these
*.private.asc
.sops.private.asc
