---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - secret.yaml
  # - external-dns.yaml
  - httproute.yaml
  # - ./coredns

helmCharts:
  - name: pihole
    repo: https://mojo2600.github.io/pihole-kubernetes/
    version: 2.27.0
    namespace: dns
    releaseName: pihole-primary
    includeCRDs: true
    valuesFile: primary-values.yaml
  - name: pihole
    repo: https://mojo2600.github.io/pihole-kubernetes/
    version: 2.27.0
    namespace: dns
    releaseName: pihole-secondary
    includeCRDs: true
    valuesFile: secondary-values.yaml
