---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - generic-device-plugin.yaml
  - https://raw.githubusercontent.com/k8snetworkplumbingwg/multus-cni/master/deployments/multus-daemonset-thick.yml
  # - https://raw.githubusercontent.com/k8snetworkplumbingwg/whereabouts/refs/heads/master/doc/crds/daemonset-install.yaml
  # - https://raw.githubusercontent.com/k8snetworkplumbingwg/whereabouts/refs/heads/master/doc/crds/whereabouts.cni.cncf.io_ippools.yaml
  # - https://raw.githubusercontent.com/k8snetworkplumbingwg/whereabouts/refs/heads/master/doc/crds/whereabouts.cni.cncf.io_overlappingrangeipreservations.yaml
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/gpu_plugin/overlays/nfd_labeled_nodes?ref=main
  - github.com/kubernetes-sigs/descheduler/kubernetes/cronjob?ref=release-1.32
  - https://raw.githubusercontent.com/kubernetes-sigs/mcs-api/62ede9a032dcfbc41b3418d7360678cb83092498/config/crd/multicluster.x-k8s.io_serviceexports.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/mcs-api/62ede9a032dcfbc41b3418d7360678cb83092498/config/crd/multicluster.x-k8s.io_serviceimports.yaml
  - clustermesh-egress.yaml
  - helmrelease.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: cilium-values
    files:
      - values.yaml
  - name: cilium-clustermesh-values
    files:
      - values-clustermesh.yaml
patches:
  - target:
      kind: DaemonSet
      name: kube-multus-ds
      namespace: kube-system
    patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: kube-multus-ds
        namespace: kube-system
      spec:
        template:
          spec:
            volumes:
              - name: host-run-netns
                hostPath:
                  path: /var/run/netns/
            initContainers:
              - name: install-multus-binary
                image: ghcr.io/k8snetworkplumbingwg/multus-cni:snapshot-thick
                command:
                  - "cp"
                  - "-f"
                  - "/usr/src/multus-cni/bin/multus-shim"
                  - "/host/opt/cni/bin/multus-shim"
              - command:
                  - /install-cni.sh
                image: ghcr.io/siderolabs/install-cni:v1.9.0  # adapt to your talos version
                name: install-cni
                securityContext:
                  privileged: true
                volumeMounts:
                  - mountPath: /host/opt/cni/bin
                    mountPropagation: Bidirectional
                    name: cnibin
            containers:
              - name: kube-multus
                resources:
                  requests:
                    cpu: "200m"
                    memory: "200Mi"
                  limits:
                    cpu: "200m"
                    memory: "1000Mi"
  - target:
      kind: CronJob
      name: descheduler-cronjob
    patch: |-
      apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: descheduler-cronjob
      spec:
        schedule: "*/5 * * * *" # every 5 minutes