---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 61.1.0 # Use a recent stable version
      sourceRef:
        kind: HelmRepository
        name: prometheus-community # Use prometheus-community repo (OCI or web based on previous steps)
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: flux-kube-state-metrics-config
      valuesKey: kube-state-metrics-config.yaml
  values:
    grafana:
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
          folderAnnotation: grafana_folder
          provider:
            foldersFromFilesStructure: true
      persistence:
        enabled: false
      # admin:
      #   existingSecret: "grafana-credentials"
      #   userKey: admin-user
      #   passwordKey: admin-password
      serviceMonitor:
        enabled: true
      additionalDataSources:
        - name: Loki
          type: loki
          uid: loki
          url: http://loki-gateway.monitoring.svc.cluster.local
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: "default"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
            - name: "argocd"
              orgId: 1
              folder: "argocd"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/argocd
            - name: "ceph"
              orgId: 1
              folder: "ceph"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/ceph
            - name: "logs"
              orgId: 1
              folder: "logs"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/logs
            - name: "envoy-gateway"
              orgId: 1
              folder: "envoy-gateway"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/envoy-gateway
            - name: "kubernetes"
              orgId: 1
              folder: "kubernetes"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/kubernetes
            - name: "volsync"
              orgId: 1
              folder: "volsync"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/volsync
      dashboards:
        argocd:
          # https://grafana.com/grafana/dashboards/19993-argocd-operational-overview/
          argocd-operational-overview:
            gnetId: 19993
            revision: 2
            datasource: prometheus
          # https://grafana.com/grafana/dashboards/19975-argocd-notifications-overview/
          argocd-notifications-overview:
            gnetId: 19975
            revision: 2
            datasource: prometheus
          # https://grafana.com/grafana/dashboards/19974-argocd-application-overview/
          argocd-application-overview:
            gnetId: 19974
            revision: 2
            datasource: prometheus
        logs:
          # https://grafana.com/grafana/dashboards/15141-kubernetes-service-logs/
          loki-logs-app:
            gnetId: 15141
            revision: 1
            datasource: loki
          # https://grafana.com/grafana/dashboards/10880-loki-promtail/
          loki-dashboard:
            gnetId: 10880 
            revision: 1
            datasource: loki
          # https://grafana.com/grafana/dashboards/16970-container-log-quick-search/
          kubernetes-logs:
            gnetId: 16970
            revision: 1
            datasource: loki
        ceph:
          ceph-cluster:
            gnetId: 2842
            revision: 18
            datasource: prometheus
          ceph-osd:
            gnetId: 5336
            revision: 9
            datasource: prometheus
          ceph-pools:
            gnetId: 5342
            revision: 9
            datasource: prometheus
        volsync:
          volsync-overview:
            gnetId: 21356
            revision: 3
            datasource: prometheus
      route:
        main:
          enabled: true
          apiVersion: gateway.networking.k8s.io/v1
          kind: HTTPRoute
          hostnames:
            - grafana.lukehouge.com
            - grafana.rajsingh.info
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: private
              namespace: envoy-gateway-system
    prometheusOperator:
      admissionWebhooks:
        enabled: false
    prometheus:
      prometheusSpec:
        serviceMonitorSelector: {}
        externalUrl: https://prometheus.rajsingh.info
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        enableRemoteWriteReceiver: true
        enableFeatures:
          - exemplar-storage
        retention: 30d
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 100Gi
      route:
        main:
          enabled: true
          apiVersion: gateway.networking.k8s.io/v1
          kind: HTTPRoute
          hostnames:
            - prometheus.lukehouge.com
            - prometheus.rajsingh.info
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: private
              namespace: envoy-gateway-system
      server:
        additionalScrapeConfigs:
          - job_name: opencost
            honor_labels: true
            scrape_interval: 1m
            scrape_timeout: 10s
            metrics_path: /metrics
            scheme: http
            dns_sd_configs:
              - names:
                  - opencost.opencost
                type: "A"
                port: 9003
        retention: 30d

    alertmanager:
      enabled: true

    kubeProxy:
      enabled: false

    kubeControllerManager:
      enabled: true

    kubeScheduler:
      enabled: true
