apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
spec:
  replicas: 1  # Adjust the number of replicas as needed
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
    spec:
      containers:
        - name: code-server
          hostname: code-server
          image: lscr.io/linuxserver/code-server:latest  # Docker image for code-server
          env:
            - name: PUID
              value: "0"
            - name: PGID
              value: "0"
            - name: TZ
              value: "Etc/UTC"
            - name: PASSWORD
              value: "password"  # Optional: Specify your desired password
            - name: HASHED_PASSWORD
              value: ""  # Optional: Leave empty if not using hashed password
            - name: SUDO_PASSWORD
              value: "password"  # Optional: Specify sudo password if needed
            - name: SUDO_PASSWORD_HASH
              value: ""  # Optional: Leave empty if not using hashed sudo password
            - name: PROXY_DOMAIN
              value: "code-server${INGRESS_SUFFIX}"  # Optional: Specify your domain
            - name: DEFAULT_WORKSPACE
              value: ${NFS_PATH}  # Optional: Specify default workspace path
          # volumeMounts:
          #   - name: config-volume
          #     mountPath: /config
          ports:
            - containerPort: 8443  # Port inside the container (code-server default is 8443)
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8443
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8443
            periodSeconds: 10
          volumeMounts:
            - name: startup-script
              mountPath: /custom-cont-init.d
            - name: nfs-volume
              mountPath: ${NFS_PATH}
      volumes:
        - name: startup-script
          configMap:
            name: startup-script
            defaultMode: 0755  # Set the permissions for the files in the ConfigMap
        - name: nfs-volume
          nfs:
            path: ${NFS_PATH}
            server: ${NFS_SERVER}
      restartPolicy: Always  # Restart policy for the pod
