apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ollama

helmCharts:
  # - name: ollama
  #   repo: https://otwld.github.io/ollama-helm/
  #   version: 1.4.0
  #   releaseName: ollama
  #   valuesFile: values.yaml


  - name: open-webui
    repo: https://helm.openwebui.com/
    version: 6.4.0
    releaseName: open-webui
    valuesFile: values-webui.yaml

resources:
  - ceph.yaml
  - tailscale.yaml