---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: liqo-test
spec:
  replicas: 4
  selector:
    matchLabels:
      app: liqo-test
  template:
    metadata:
      labels:
        app: liqo-test
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 100m
              memory: 64Mi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: liqo-test
