# This is an example file. Generate actual secrets with: talhelper gensecret > talsecret.sops.yaml
# Then encrypt with sops: sops --encrypt --in-place talsecret.sops.yaml
cluster:
    id: ENC[AES256_GCM,data:EXAMPLE_CLUSTER_ID,type:str]
    secret: ENC[AES256_GCM,data:EXAMPLE_CLUSTER_SECRET,type:str]
secrets:
    bootstraptoken: ENC[AES256_GCM,data:EXAMPLE_BOOTSTRAP_TOKEN,type:str]
    secretboxencryptionsecret: ENC[AES256_GCM,data:EXAMPLE_SECRETBOX_SECRET,type:str]
trustdinfo:
    token: ENC[AES256_GCM,data:EXAMPLE_TRUSTD_TOKEN,type:str]
certs:
    etcd:
        crt: ENC[AES256_GCM,data:EXAMPLE_ETCD_CRT,type:str]
        key: ENC[AES256_GCM,data:EXAMPLE_ETCD_KEY,type:str]
    k8s:
        crt: ENC[AES256_GCM,data:EXAMPLE_K8S_CRT,type:str]
        key: ENC[AES256_GCM,data:EXAMPLE_K8S_KEY,type:str]
    k8saggregator:
        crt: ENC[AES256_GCM,data:EXAMPLE_K8S_AGGREGATOR_CRT,type:str]
        key: ENC[AES256_GCM,data:EXAMPLE_K8S_AGGREGATOR_KEY,type:str]
    k8sserviceaccount:
        key: ENC[AES256_GCM,data:EXAMPLE_K8S_SA_KEY,type:str]
    os:
        crt: ENC[AES256_GCM,data:EXAMPLE_OS_CRT,type:str]
        key: ENC[AES256_GCM,data:EXAMPLE_OS_KEY,type:str]