---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  LOCATION: robbinsdale
  SITE_ID: "1"
  TIMEZONE: America/Chicago
  CLUSTER_NAME: talos-robbinsdale

  # K8s
  CLUSTER_POD_CIDR: 10.1.0.0/16
  CLUSTER_SERVICE_CIDR: 10.0.0.0/16
  CLUSTER_LOAD_BALANCER_CIDR: 10.69.0.0/16

  # Networking
  LAN_CIDR: 192.168.50.0/24
  LAN_GATEWAY_IP: "192.168.50.1"
