---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
resources:
  - deployment.yaml
  - service.yaml
  - unas.yaml
  - ceph.yaml
  - volsync-backup.yaml
  # - volsync-restore.yaml
configMapGenerator:
  - name: mqtt-config
    files:
    - mosquitto.conf