---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:

  - releaseName: truenas-nfs
    repo: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner/
    version: 4.0.18
    namespace: nfs-subdir-external-provisioner
    includeCRDs: true
    valuesFile: truenas-values.yaml
    name: nfs-subdir-external-provisioner

  # - releaseName: csi-driver-nfs
  #   repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  #   version: v4.9.0
  #   namespace: kube-system
  #   includeCRDs: true
  #   name: csi-driver-nfs