apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-4k-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # dataSourceRef:
  #   kind: ReplicationDestination
  #   apiGroup: volsync.backube
  #   name: sonarr-4k-config