apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - secret.yaml
  - unas.yaml
configMapGenerator:
  - name: startup-script
    files:
      - startup.sh
