apiVersion: apps/v1
kind: Deployment
metadata:
  name: wizarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wizarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: wizarr
    spec:
      containers:
        - name: wizarr
          image: ghcr.io/wizarrrr/wizarr:v2025.11.2
          ports:
            - name: http
              containerPort: 5690
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /data
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: ${TIMEZONE}
            - name: DISABLE_BUILTIN_AUTH
              value: "false"
      volumes:
        - name: config-volume
          persistentVolumeClaim:
            claimName: wizarr-config
