---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: coder-postgres
  namespace: coder
spec:
  instances: 1
  bootstrap:
    initdb:
      database: coder
      owner: coder
      secret:
        name: coder-postgres-user
  monitoring:
    enablePodMonitor: true
  storage:
    size: 20Gi
---
apiVersion: v1
kind: Secret
metadata:
  name: coder-postgres-user
  namespace: coder
type: kubernetes.io/basic-auth
stringData:
  username: coder
  password: ${DEFAULT_PASSWORD}
---
apiVersion: v1
kind: Secret
metadata:
  name: coder-db-url
  namespace: coder
type: Opaque
stringData:
  url: postgres://coder:${DEFAULT_PASSWORD}@coder-postgres-rw.coder.svc.cluster.local:5432/coder?sslmode=disable
