apiVersion: apps/v1
kind: Deployment
metadata:
  name: readarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: readarr
  template:
    metadata:
      labels:
        app: readarr
    spec:
      containers:
        - name: readarr
          image: lscr.io/linuxserver/readarr:amd64-develop
          ports:
            - name: http
              containerPort: 8787
              protocol: TCP
          volumeMounts:
            - name: books-volume
              mountPath: /books
            - name: downloads-volume
              mountPath: /downloads
            - name: config-volume
              mountPath: /config
          env:
            - name: PUID
              value: "0"
            - name: GUID
              value: "0"
            - name: TZ
              value: America/Chicago
      volumes:
        - name: books-volume
          persistentVolumeClaim:
            claimName: readarr-books
        - name: downloads-volume
          persistentVolumeClaim:
            claimName: sabnzbd-media
        - name: config-volume
          persistentVolumeClaim:
            claimName: readarr-config 
