apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
      - name: flaresolver
        image: ghcr.io/flaresolverr/flaresolverr:v3.4.5
        ports:
        - name: proxy
          containerPort: 8191
          protocol: TCP
        env:
        - name: LOG_LEVEL
          value: "info"
      - name: prowlarr
        image: lscr.io/linuxserver/prowlarr:2.1.5
        ports:
        - name: http
          containerPort: 9696
          protocol: TCP
        volumeMounts:
        - name: config-volume
          mountPath: /config
        env:
        - name: PUID
          value: "0"
        - name: GUID
          value: "0"
        - name: TZ
          value: ${TIMEZONE}
      volumes:
      - name: config-volume
        persistentVolumeClaim:
          claimName: prowlarr-config-ceph 