name: Tailscale Status Check

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      RUNNER_DEBUG: 1
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: TbqNGJkY5611CNTRL/kb8cB2pMCZ11CNTRL
          audience: api.tailscale.com/kb8cB2pMCZ11CNTRL
          tags: tag:k8s
          version: 1.90.8
          args: --accept-dns

      - name: Status
        run: tailscale status
